.button {
  display: flex;
  position: relative;
}

.button-primary {
  @include util.button-primary;
}

.button-secondary {
  @include util.button-secondary;
}

.button-availability {
  @include util.button-availability;
}

.button-primary-transparent {
  @include util.button-transparent(col.$primary, 40%);
}

.button-secondary-transparent {
  @include util.button-transparent(col.$secondary);
}

.button-primary-link {
  @include util.button-text;
}

.icon-none {
  :is(svg, .icon, img, picture) {
    display: none;
  }
}

@mixin has-icon {
  align-items: center;
  display: flex;

  svg {
    height: 100%;
    width: 2.2rem;
  }
}

.icon-left,
.icon-right {
  @include has-icon;

  column-gap: spacing(1);
  grid-template-columns: spacing(2) auto;
}

.icon-right {
  @include has-icon;

  :is(svg, .icon, img, picture) {
    order: 2;
  }
}

.error {
  color: col.$danger;
  font-weight: bold;
}

.active {
  font-weight: bold;
}

.small {
  column-gap: spacing(0.7);
  line-height: inherit;
  padding: padding(0.5);
}
