.block {
    display: grid;
    justify-content: center;
    padding: padding(2) padding(1);
    &-about {
        background-color: #E3E9F0;
    }
    &-skills {
        background-color: #FED1D1;
    }
    &-clients {
        background-color: #FEF1D1;
    }
    &-testimonials {
        background-color: #D1FED1;
    }
    &-contact {
        background-color: #BAA4F8;
    }
}

.content {
    @include util.mq(bp.$medium) {
        width: 800px;
    } 

    h2 {
        @include type.heading-large();
    }

    p {
        @include type.body-text();
    }
}
