.block {
  display: grid;
  justify-content: center;
  padding: padding(2) padding(1);
  background-color: #272e4e;
  color: #fff;
}

.content {
  @include util.mq(bp.$medium) {
    width: 800px;
  }

  h2 {
    margin-bottom: margin(1);
    @include type.heading-large();
  }

  h3 {
    margin-bottom: margin(1);
    @include type.heading-medium();
  }

  p {
    font-size: type.$large-text-size;
    @include type.body-text();
  }
}
