.skills {
    display: flex;
    flex-wrap: wrap;
    gap: spacing(2);
}

.h2 {
    grid-column-start: span 2;
    margin-bottom: -(margin()) !important;
    em {
        font-weight: 800;
        font-style: italic;
    }
}

.image {
    width: 100%;
    height: auto;
    margin-bottom: margin(1);
}

.content {
    width: 100%;
    background-color: rgba(col.$light, 0.9);
    color: col.$dark;
    padding: padding(2);
    border-radius: 5px;

    .top {
        display: grid;
        gap: spacing(2);
        grid-template-columns: 1fr 1fr;
        margin-bottom: margin(2);
    }
}

.skill-type {
    margin-bottom: margin(2);
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    gap: spacing(.5);
    list-style: none;
    padding: 0;
    margin: 0;
}