.skills {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: spacing(2);
}

.h2 {
    grid-column-start: span 2;
    margin-bottom: -(margin()) !important;
    em {
        font-weight: 800;
        font-style: italic;
    }
}

.image {
    width: 100%;
    height: auto;
    margin-bottom: margin(1);
}