.banner {
  background-color: #32002d;
  background-image: linear-gradient(10deg, #330039, #2a017e);
  color: col.$light;
  font-size: type.$large-text-size;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: padding(1);
  text-decoration: none;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(1.2);
    text-decoration: none;

    img {
      @include animate.wobble();
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  gap: spacing(2);
  text-align: center;
  line-height: 1.5;
}

.link {
  color: col.$light;
  text-decoration: underline;
  display: block;
  font-size: type.$heading-small-size;
}
