$baseFontSize: 1rem;
$header-level-1: $baseFontSize * 2.8;
$header-level-2: $baseFontSize * 2.2;
$header-level-3: $baseFontSize * 2;
$header-level-4: $baseFontSize * 1.8;
$paragraph: $baseFontSize * 1.6;
$nav-link: $baseFontSize * 1.6;
$teeny: $baseFontSize * 1.2;
