.client-description {
    display: grid;
    justify-content: center;
    padding: padding(2);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}

.content {
    width: 60vw;
}

.name {
    font-size: 4.5rem;
    font-weight: bold;
    margin: 0 !important;
    line-height: normal !important;
    display: block;
    text-transform: uppercase;
}

.meta {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 spacing(1) 0;
    display: block;
}

.role {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}

.date {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    display: block;
}