.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: spacing(2);
}

.accomplishments {
    background-color: rgba(col.$light, 0.9);
    color: col.$dark;
    padding: padding(2) padding(2.5);
    @include util.rounded-border;

    h3 {
        margin-bottom: margin(2);
    }

    ul {
        @include util.list;
    }
}