
$frontend: #ff5b5b;
$backend: #ffda5b;
$iot: #5bff5b;
$design: #5b5bff;

.skills_list {
    width: 96%;
    opacity: 0;
    transition: opacity .5s ease-in-out, top .5s ease-in-out;
    transition-delay: .1s, 0;
    transition-property: opacity, top;
    position: absolute;
    top: 50%;
    left: 1rem;
}

.active {
    font-weight: bold;
    .skills_list {
        opacity: 1;
        transition-delay: .5s, .5s;
        top: 14%;
    }
}

.category {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    &:nth-child(1) {
        background-color: $frontend;
    }
    &:nth-child(2) {
        background-color: $backend;
    }
    &:nth-child(3) {
        background-color: $iot;
    }
    &:nth-child(4) {
        background-color: $design;
    }

    &__title {
        font-size: type.$heading-medium-size;
        position: absolute;
        top: 50%;
        left: 60%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out;
        background-color: #000;
        color: #fff;
        padding: padding(.5) padding(1);
        width: 96%;
    }

    &:not(.active) {
        &:hover {
        @include animate.jiggle();
        }
    }

    &.active {
        padding: padding(2);
        .category__title {
            top: spacing(1);
            left: spacing(1) !important;
            transform: none;
        }
        &:nth-child(1) {
            background-color: $frontend;
            .skill__level {
                background-color: darken($frontend, 20%);
            }
        }
        &:nth-child(2) {
            background-color: $backend;
            .skill__level {
                background-color: darken($backend, 30%);
            }
        }
        &:nth-child(3) {
            background-color: $iot;
            .skill__level {
                background-color: darken($iot, 30%);
            }
        }
        &:nth-child(4) {
            background-color: $design;
            .skill__level {
                background-color: darken($design, 20%);
            }
        }
    }
}

.skill-grid {
    display: grid;
    grid-template: 50% 50% / 50% 50%;
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    transition: grid-template 1s ease-in-out;
    &.grid-active {
        
        &:has(:nth-child(1).active) {
            grid-template: 95% 5% / 95% 5%;
        }
        &:has(:nth-child(2).active) {
            grid-template: 95% 5% / 5% 95%;
        }
        &:has(:nth-child(3).active) {
            grid-template: 5% 95% / 95% 5%;
        }
        &:has(:nth-child(4).active) {
            grid-template: 5% 95% / 5% 95%;
        }

        .category {
            &__title {
                left: 200%;
            }
        }
    }
}



.skill {
    position: relative;
    padding: padding(.5) padding(.5);
    margin-bottom: margin(1);
    color: #fff;
    width: 100%;
    &__name {
        position: relative;
        z-index: 2;
    }
    &__level {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        height: 100%;
        transition: width 3s ease-in-out;
        width: 0%;
    }
    // programatically add a transition delay to each skill
    @for $i from 1 through 20 {
        &:nth-child(#{$i}) .skill__level{
            transition-delay: $i * .1s;
            transition-property: width;
        }
    }
}

.active {
    .skill__level {
        &.level-1 {
            width: 10%;
        }
        &.level-2 {
            width: 20%;
        }
        &.level-3 {
            width: 30%;
        }
        &.level-4 {
            width: 40%;
        }
        &.level-5 {
            width: 50%;
        }
        &.level-6 {
            width: 60%;
        }
        &.level-7 {
            width: 70%;
        }
        &.level-8 {
            width: 80%;
        }
        &.level-9 {
            width: 90%;
        }
        &.level-10 {
            width: 100% !important;
        }
    }
}