.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: spacing(4);

  @include util.mq(bp.$medium) {
    grid-template-columns: 1fr 1fr;
    gap: spacing(2);
  }
}

.form {
  display: grid;
  gap: spacing(2);
}

.error {
  color: pink;
  font-size: type.$body-text-size;
}

.captcha-complete {
  display: flex;
  align-items: center;
  gap: spacing(1);

  svg {
    height: type.$large-text-size;
    width: type.$large-text-size;
    margin-left: -2px;
  }
}
.message {
  padding: padding(1) padding(2);
  border-radius: $border-radius;
  font-size: type.$large-text-size;
  &.success-status {
    background-color: col.$success;
    color: col.$light;
  }
  &.error-status {
    background-color: col.$danger;
    color: col.$light;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: spacing(1);

  &--checkbox {
    display: flex;
    flex-direction: column;
    gap: spacing(1);

    div {
      display: flex;
      align-items: center;
      gap: spacing(1);
    }
  }

  input {
    @include type.input();

    padding: padding(1);
    border: 1px solid #ccc;
    border-radius: spacing(0.5);
  }

  textarea {
    padding: padding(1);
    border: 1px solid #ccc;
    border-radius: spacing(0.5);
  }

  label {
    @include type.input-label();
  }
}

.required {
  color: red;
}

.button {
  border-radius: spacing(0.5);
  padding: padding(1) padding(5);
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: spacing(2);
  justify-content: center;
  @include util.mq(bp.$medium) {
    margin-top: margin(3);
  }

  li {
    display: flex;
    gap: spacing(1);
    align-items: center;

    > span:first-of-type {
      display: flex;
      align-items: center;
      gap: spacing(1);
      font-weight: bold;
    }
  }

  a {
    @include util.link();

    color: col.$light;
  }
}
