@use 'reset.scss' as *;
@use 'spacing' as *;
@use 'overrides' as *;
@use 'globals';

// Global application styles can be found in styles/_globals.scss

html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;

  @include util.mq(bp.$medium) {
    scroll-padding-top: 7rem;
  }
}
